[submodule "twitter"]
	path = twitter
	url = git://github.com/henriklied/django-twitter-oauth.git
[submodule "django"]
	path = django
	url = git://github.com/django/django.git
[submodule "thweddy/static/blueprint-css"]
	path = thweddy/static/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "tweepy"]
	path = tweepy
	url = git://github.com/joshthecoder/tweepy.git
[submodule "django-dynamic-formset"]
	path = django-dynamic-formset
	url = http://github.com/1stvamp/django-dynamic-formset.git
[submodule "thweddy/static/js/django-dynamic-formset"]
	path = thweddy/static/js/django-dynamic-formset
	url = http://github.com/1stvamp/django-dynamic-formset.git
[submodule "thweddy/static/css/blueprint-css"]
	path = thweddy/static/css/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
