[submodule "twitter"]
	path = twitter
	url = git://github.com/henriklied/django-twitter-oauth.git
[submodule "django"]
	path = django
	url = git://github.com/django/django.git
[submodule "thweddy/static/blueprint-css"]
	path = thweddy/static/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
