#thread_form fieldset {
        padding-bottom: 0;
}

#thread_form a.button {
        margin-right: 0.5em;
        margin-left: 0.5em;
}

#thread_form a.formset-add-button,
#thread_form a#lookup-tweet {
        text-align: center;
}

#thread_form button#thread-submit-button {
        margin-top: 1em;
        float: right;
        background-color: #C1C1C1;
}
#thread_form button#thread-submit-button:hover {
        background-color: #ABABAB;
}

#thread_form #tweet_formsets p label {
        margin-right: 1em;
}
#thread_form #tweet_formsets p > * {
        float: left;
        margin-top: -1ex;
}
#thread_form #tweet_formsets p {
        margin-left: 2em;
        margin-top: 1ex;
        height: 4ex;
        clear: both;
}
#thread_form #tweet_formsets p:hover:before {
        float: left;
        content: '\2195';
        font-size: 2em;
        margin-left: -1em;
        margin-top: -1.3ex;
}

#side ul {
        padding-left: 0.5em;
}
#side ul li {
        list-style: none;
        border-top: 1px solid #EEE;
        padding-top: 1ex;
        padding-bottom: 1ex;
        width: 15em;
        padding-left: 4em;
}
#side ul li.last {
        border-bottom: 1px solid #EEE;
}
#side ul li a {
        text-decoration: none;
}
div#home #side ul li a#home-link,
div#faq #side ul li a#faq-link,
div#new #side ul li a#new-link,
div#latest #side ul li a#latest-link,
div#mine #side ul li a#mine-link,
#side ul li a:hover {
        font-weight: bold;
}

ul.errorlist {
        margin-bottom: 0;
        color: #FF0000;
}

.get-source {
        height: 90px;
        width: 79px;
        float: left;
        top: 0px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
        background-image: url('../images/code_corner.png');
        background-position: top left;
        background-repeat: no-repeat;

}
.get-source span {
        display: none;
}

.purplebox {
        margin-left: 15em;
}
.bluebox {
        margin-left: 5em;
}

.bluebox_head h2,
.purplebox_head h2 {
        padding-left: 0.5em;
        padding-bottom: 0;
}

.bluebox_body,
.purplebox_body {
        margin-right: 0.5em;
}

.throbber {
        margin-left: auto;
        margin-right: auto;
        width: 16px;
        height: 16px;
        background-image: url('../images/throbber.gif');
        background-repeat: no-repeat;
}

div#faq div#content ul {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
}
div#faq div#content ul li {
    margin-bottom: 0.5ex;
}

div#faq div#content dl dd {
        margin-bottom: 2ex;
}

div#content,
div#side {
        margin-top: 2ex;
}

.fail {
        background-color: #6CC5C3;
        color: #FFFFFF;
        padding-left: 10em;
        font-weight: bold;
}

.failwhale {
        font-size: 8em;
}
.failbirds {
        margin-left: 1.5em;
        color: #F15A22;
}
.failstrings,
.failbirds {
        font-size: 6em;
}
.failstrings {
        margin-left: 2em;
        font-weight: normal;
}

.failwhale,
.failbirds,
.failstrings {
        margin-bottom: 0;
        padding-bottom: 0;
}

.fail + p {
        margin-top: 1em;
        font-weight: bold;
}

.sort-highlight {
        background-color: #EDECEB;
        height: 4ex;
}

a#thread-edit-link {
    float: right;
    margin-right: 2em;
}
