#thread_form fieldset {
        padding-bottom: 0;
}

#thread_form a.button {
        float: none;
        margin-right: 0.5em;
        margin-left: 0.5em;
}

#thread_form a.formset-add-button,
#thread_form a#lookup-tweet {
        text-align: center;
}

#thread_form button#thread-submit-button {
        margin-top: 1em;
        float: right;
        background-color: #C1C1C1;
}
#thread_form button#thread-submit-button:hover {
        background-color: #ABABAB;
}

#side ul {
        padding-left: 0.5em;
}
#side ul li {
        list-style: none;
        border-top: 1px solid #EEE;
        padding-top: 1ex;
        padding-bottom: 1ex;
        width: 15em;
        padding-left: 4em;
}
#side ul li.last {
        border-bottom: 1px solid #EEE;
}
#side ul li a {
        text-decoration: none;
}
div#home #side ul li a#home-link,
div#new #side ul li a#new-link,
div#latest #side ul li a#latest-link,
div#mine #side ul li a#mine-link {
        font-weight: bold;
}

ul.errorlist {
        margin-bottom: 0;
        color: #FF0000;
}

.get-source {
        height: 90px;
        width: 79px;
        float: left;
        top: 0px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
        background-image: url('../images/code_corner.png');
        background-position: top left;
        background-repeat: no-repeat;

}
.get-source span {
        display: none;
}
