<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  {% load i18n %}
  {% load extras %}
  <head>
      <title>{% trans 'Thweddy' %} &mdash; {% block title %}{{title}}{% endblock %}</title>
      <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/blueprint-css/blueprint/screen.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/blueprint-css/blueprint/print.css" type="text/css" media="print" />
      <!--[if lt IE 8]>
          <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/blueprint-css/blueprint/ie.css" type="text/css" media="screen, projection" />
      <![endif]-->
      <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/blueprint-css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/blueprint-css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/main.css" type="text/css" media="screen, projection" />
      <link rel="stylesheet" href="{% setting 'STATIC_URL' %}css/boxes.css" type="text/css" media="screen, projection" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
      {% block head %}{% endblock %}
  </head>
  <body>
      <a href="http://github.com/1stvamp/thweddy/" title="Get the source code to Thweddy" class="get-source"><span>Get the source</span></a>
      <div class="container" id="{% block current %}default{% endblock %}">
          <h1 id="head"><span>Thweddy</span></h1>
          <div class="span-15 prepend-1 colborder" id="content">
              {% block content %}{% endblock %}
          </div>
          <div class="span-7 last" id="side">
              {% block sidebar %}
                <ul>
                    <li><a href="{% url home %}" id="home-link">Home</a></li>
                    <li><a href="{% url new-thread %}" id="new-link">Create new thread</a></li>
                    <li><a href="{% url latest-threads %}" id="latest-link">Latest threads</a></li>
                    <li class="last"><a href="{% url user-threads %}" id="mine-link">My threads</a></li>
                </ul>
              {% endblock %}
              {% block sub-sidebar %}
              {% endblock %}
          </div>
          <div class="span-21 last" id="foot">
              {% block footer %}
              {% endblock %}
          </div>
          <hr/>
          <h3 class="alt">in ur twitter, thwedding ur tweets</h3>
      </div>
  </body>
</html>
