{% extends 'main/base.html' %}

{% block title %}Thar she fails!{% endblock %}
{% block current %}error{% endblock %}

{% block content %}
    <div class="fail">
        <span class="failbirds">&rsquo; , &rsquo; , &rsquo; , &rsquo;</span><br/>
        <span class="failstrings">/ / /</span><br/>
        <span class="failwhale">(__-){</span>
    </div>
    <p>Sorry, I'm currently having difficulty contacting Twitter, please try again or give the whale a little while to rest up.</p>
{% endblock %}
{% block footer %}
    Based on the original Fail Whale by <a href="http://www.twitter.com/yiyinglu">@YiyingLu</a>.
{% endblock %}
