{% extends 'main/base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}
{% block current %}faq{% endblock %}

{% block content %}
    <ul>
        <li><a href="#what">What's it do?</a></li>
        <li><a href="#why">Why did you make Thweddy?</a></li>
        <li><a href="#forward-lookup">Can I look up threads from the first tweet?</a></li>
        <li><a href="#twonvo">Doesn't Twonvo already do this?</a></li>
        <li><a href="#access">Why do I need to login to Twitter?</a></li>
        <li><a href="#bugs">It broke!</a></li>
        <li><a href="#code">Can I install Thweddy on my server?</a></li>
    </ul>
    <hr/>
    <dl>
        <dt id="what" name="what">What's it do?</dt>
        <dd>Blah blah blah</dd>
        <dt id="why" name="why">Why did you make Thweddy?</dt>
        <dd>Blah blah blah</dd>
        <dt id="forward-lookup" name="forward-lookup">Can I look up threads from the first tweet?</dt>
        <dd>Blah blah blah</dd>
        <dt id="twonvo" name="twonvo">Doesn't Twonvo already do this?</dt>
        <dd>Blah blah blah</dd>
        <dt id="access" name="access">Why do I need to login to Twitter?</dt>
        <dd>Blah blah blah</dd>
        <dt id="bugs" name="bugs">It broke!</dt>
        <dd>Blah blah blah</dd>
        <dt id="code" name="code">Can I install Thweddy on my server?</dt>
        <dd>Blah blah blah</dd>
    </dl>
{% endblock %}
