{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}
{% block current %}home{% endblock %}

{% block content %}
    <p><em>Thweddy</em> is a helper tool for <a href="http://twitter.com/">Twitter</a>.</p>
    <p><em>Thweddy</em> allows you to group a bunch of tweets into a single conversation thread, and then refer to a unique <em>Thweddy</em> URL to link back to (e.g. to show a conversation on Twitter to other friends).</p>
    <p>To make creating threads as easy as possible <em>Thweddy</em> has a reverse look up feature that will attempt to resolve a thread of tweets backwards from the last one in the conversation (unfortunately going forward from the first tweet won't work as the Twitter API currently doesn't support this; also please not that some tweets may not have the current IDs to do this look up).</p>
{% endblock %}
