{% extends 'main/base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans 'Latest threads' %}{% endblock %}
{% block current %}latest{% endblock %}

{% block content %}
    <ul>
        {% for thread in threads %}
        <li>{{ thread.id }}. &#8220;<a href="{% url view-thread thread.id %}">{{ thread.tweets.all|first|get:"original"|get:"text"|truncatewords:"11" }}</a>&#8221;</li>
        {% empty %}
            <li>Sorry, there don't seem to be any threads. Why not <a href="{% url new-thread %}">create one</a>?</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
        <p>Updated every fifteen minutes.</p>
{% endblock %}
