{% extends 'main/base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans 'My threads' %}{% endblock %}
{% block current %}mine{% endblock %}

{% block content %}
    <ol>
        {% for thread in user.thread_set.all %}
            <li>&#8220;<a href="{% url view-thread thread.id %}">{{ thread.tweets.all|first|get:"original"|get:"text"|truncatewords:"11" }}</a>&#8221;</li>
        {% empty %}
            <li>Sorry, you don't seem to have made any threads. Why not <a href="{% url new-thread %}">create one</a>?</li>
        {% endfor %}
    </ol>
{% endblock %}
