{% extends 'main/base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans 'New thread' %}{% endblock %}
{% block current %}new{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% setting 'STATIC_URL' %}js/django-dynamic-formset/src/jquery.formset.js"></script>
    <script type="text/javascript">
        $(function() {
                $('#thread_form div#tweet_formsets p').formset({
                    addCssClass: 'formset-add-button',
                    deleteCssClass: 'formset-delete-button'
                });
                $('.formset-add-button').addClass('button positive');
                $('.formset-delete-button').addClass('button negative');
        })
</script>
{% endblock %}

{% block content %}
    <form method="post" id="thread_form">
        {{ formset.management_form }}
        <fieldset>
            <div id="tweet_formsets">
            {% for form in formset.forms %}
                {{ form.as_p }}
                {% endfor %}
            </div>
            <div><button type="submit" id="thread-submit-button" class="button">Thread it!</button></div>
        </fieldset>
    </form>
{% endblock %}
