{% extends 'main/base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans 'Thread' %} {{ thread.id }}{% endblock %}
{% block current %}thread{% endblock %}

{% block content %}
    <a href="{% url edit-thread thread.id %}">Edit</a>
    {% for t in thread.tweets.all %}
        <div class="{% cycle 'bluebox' 'purplebox' %}">
            <div class="{% cycle 'bluebox' 'purplebox' %}_head">
                <h2 class="alt">@<a href="http://www.twitter.com/{{ t.original.user.screen_name }}" title="{{ t.original.user.name }}">{{ t.original.user.screen_name }}</a></h2>
            </div>
            <div class="{% cycle 'bluebox' 'purplebox' %}_body">
                <p>{{ t.original.text|urlize }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
